.button {
  background-color: var(--main-color);
  color: var(--text-color-light);

  border-radius: 30px;
  border: 1px solid #fbfbfb66;

  padding: 17px 45px;

  max-width: 231px;

  fill: var(--text-color-light);

  display: flex;
  align-items: center;
  column-gap: 18px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.01em;

  & > svg {
    transform: rotate(-52deg);
    transition: transform var(--transition-options);
  }

  &:hover > svg,
  &:focus > svg {
    transform: rotate(0);
  }
}
