.card {
  background-color: var(--text-color-light);

  border-radius: 24px;

  max-width: 1184px;

  padding: 24px;

  position: relative;

  display: flex;
  column-gap: 24px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

@media only screen and (max-width: 1219px) {
  .card {
    flex-direction: column;
  }
}

.avatarContainer {
  border: 2px solid var(--second-color);
  border-radius: 30px;

  width: 120px;
  min-width: 120px;
  height: 120px;

  padding: 10px;

  position: relative;
  &::before {
    position: absolute;
    top: 9px;
    right: 14px;

    width: 14px;
    height: 14px;

    content: '';

    border-radius: 50%;
    border: 2px solid var(--text-color-light);

    background-color: #38cd3e;
  }
}

@media only screen and (max-width: 1023px) {
  .avatarContainer {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 466px) {
  .avatarContainer {
    margin-bottom: 80px;
  }
}

.avatar {
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
}

.profileInfoAndReviewsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.nannyLabel {
  color: #8a8a89;

  margin-bottom: 8px;
}

.nannyName {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;

  margin-bottom: 24px;
}

.profileInfoList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin-bottom: 24px;
}

.profileInfoListItem {
  background-color: var(--bodyBackground-color);
  color: #8a8a89;

  border-radius: 24px;

  padding: 8px 16px;

  & > span {
    color: var(--text-color);
  }

  & > .age {
    text-decoration: underline;
  }

  & > .characters {
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 480px) {
  .profileInfoListItem {
    font-size: 12px;
  }
}

.aboutParagraph {
  color: #11101c80;

  font-weight: 400;
  line-height: 1.25;

  margin-bottom: 14px;
}

@media only screen and (max-width: 480px) {
  .aboutParagraph {
    font-size: 12px;
  }
}

.readMoreButton {
  background-color: transparent;

  text-decoration: underline;
  font-weight: 500;
  line-height: 1.5;
}

@media only screen and (max-width: 480px) {
  .readMoreButton {
    font-size: 12px;
  }
}

.sortingInfoList {
  display: flex;
  column-gap: 32px;

  position: absolute;
  top: 24px;
  right: 98px;
}

@media only screen and (max-width: 1349px) {
  .sortingInfoList {
    flex-wrap: wrap;
    padding-left: 500px;
    padding-left: 50%;
    justify-content: end;
  }
}

@media only screen and (max-width: 768px) {
  .sortingInfoList {
    padding-left: 200px;
  }
}

.sortingInfoListItem {
  display: flex;
  align-items: center;
  column-gap: 8px;

  position: relative;
  &:not(:first-child)::before {
    position: absolute;
    top: 50%;
    left: -17px;

    width: 1px;
    height: 16px;

    content: '';

    transform: translateY(-50%);

    background-color: #11101c33;
  }
}

@media only screen and (max-width: 1349px) {
  .sortingInfoListItem:last-child::before {
    display: none;
  }
}

@media only screen and (max-width: 1008px) {
  .sortingInfoListItem::before {
    display: none;
  }
}

@media only screen and (max-width: 517px) {
  .sortingInfoList {
    font-size: 12px;
  }
}

@media only screen and (max-width: 629px) {
  .sortingInfoList {
    top: 80px;
    right: 20px;
  }
}

@media only screen and (max-width: 466px) {
  .sortingInfoList {
    left: 20px;
    top: 160px;
    padding: 0;
    justify-content: start;
    column-gap: 10px;
    row-gap: 2px;
  }
}

.moneySpan {
  color: #38cd3e;
}

.likeButton {
  display: flex;

  position: absolute;
  top: 24px;
  right: 24px;

  background-color: transparent;
  stroke: var(--text-color);
  fill: transparent;

  transition: stroke var(--transition-options), fill var(--transition-options);

  &:hover,
  &:focus {
    stroke: var(--main-color);
  }
}

.filledHeart {
  fill: var(--main-color);
  stroke: var(--main-color);
}

.modal {
  max-width: 600px;
}

@media only screen and (max-width: 1439px) {
  .modal {
    --padding: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .modal {
    max-width: 80vw;
  }
}

.loginModal {
  max-width: 566px;
}

@media only screen and (max-width: 1439px) {
  .loginModal {
    --padding: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .loginModal {
    max-width: 80vw;
  }
}
