.card {
  background-color: var(--text-color-light);

  border-radius: 20px;

  display: flex;
  column-gap: 1.11vw;

  width: 19.72vw;

  padding: 2.22vw;
}

.checkMarkContainer {
  background-color: var(--main-color);
  fill: var(--text-color-light);

  border-radius: 13px;

  width: 3.75vw;
  height: 3.75vw;

  padding: 0.83vw;

  & > svg {
    width: 2.08vw;
    height: 2.08vw;
  }
}

.experiencedNanniesLabel {
  color: #11101c80;

  font-size: 1.11vw;
  line-height: 1.19;

  margin-bottom: 0.42vw;

  width: 100%;
}

.nanniesAmount {
  font-size: 1.67vw;
  font-weight: 700;
  line-height: 1.22;
}
