.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;

  max-width: 460px;

  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  line-height: 1.25;

  color: #11101c80;

  margin-bottom: 40px;
}

.nannyInfoCard {
  display: flex;
  column-gap: 14px;

  margin-bottom: 40px;
}

.nannyAvatar {
  border-radius: 15px;
}

.yourNannyLabel {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;

  color: #8a8a89;

  margin-bottom: 4px;
}

.nannyName {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
