.pagesList {
  display: flex;
  align-items: start;
  column-gap: 40px;

  height: 32px;
}

.pageItem {
  position: relative;

  & > a::after {
    position: absolute;
    bottom: -12px;
    left: 50%;

    transform: translateX(-50%);

    content: '';

    width: 8px;
    height: 8px;

    border-radius: 50%;

    background-color: transparent;

    transition: background-color var(--transition-options);

    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;

    pointer-events: none;
  }
}

.pageItemAfter {
  & > a:global(.active)::after {
    background-color: var(--text-color-light);
  }
}

.pageItem > a {
  outline: none;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    transform: translate(-14%, -10%);

    width: 140%;
    height: 120%;

    border: 1px solid transparent;
    border-radius: 30px;

    transition: border-color var(--transition-options);

    pointer-events: none;
  }

  &:hover::before,
  &:focus::before {
    border-color: var(--text-color-light);
  }
}

.homePageNavList {
  align-items: center;
}
