.dropDown {
  /* display: flex;
  flex-direction: column;
  row-gap: 8px; */

  width: 226px;

  font-size: 18px;
  line-height: 1.11;
  text-align: left;

  position: relative;
}

.dropDownOpened {
  & > .optionsList {
    opacity: 1;
  }

  & > .toggleButton > svg {
    transform: translateY(-50%) rotate(0);
  }
}

.toggleButton {
  color: var(--text-color-light);
  background-color: var(--main-color);

  padding: 14px 18px;

  width: 100%;

  border: none;
  border-radius: 14px;

  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-align: inherit;

  position: relative;
  stroke: var(--text-color-light);

  & > svg {
    position: absolute;
    top: 50%;
    right: 18px;

    transform: translateY(-50%) rotate(180deg);

    transition: transform var(--transition-options);
  }
}

.optionsList {
  background-color: var(--main-background-color);

  border-radius: 14px;
  border: none;

  /* padding: 14px 18px 18px 18px; */

  display: flex;
  flex-direction: column;
  /* row-gap: 12px; */

  width: 100%;

  font-size: inherit;
  line-height: inherit;
  text-align: inherit;

  color: #11101c4d;

  opacity: 0;

  transition: opacity var(--transition-options);

  position: absolute;
  bottom: 0;
  left: 0;

  transform: translateY(calc(100% + 8px));

  z-index: 1000;

  & > li {
    cursor: pointer;

    border-radius: 14px;

    padding: 6px 18px;

    transition: background-color var(--transition-options-fast);
  }

  & > li:first-child {
    padding: 14px 18px 6px 18px;
  }

  & > li:last-child {
    padding: 6px 18px 18px 18px;
  }

  & > li:hover {
    background-color: #cccccc;
  }
}

.selectedItem {
  color: var(--text-color);
}

/* .optionButton {
  background-color: transparent;
  width: 100%;

  border-radius: 14px;

  transition: background-color var(--transition-options-fast);

  font-size: inherit;
  line-height: inherit;
  text-align: inherit;

  &:hover,
  &:focus {
    background-color: #cccccc;
  }
} */
