.header {
  background-color: var(--main-color);

  color: var(--text-color-light);

  padding: 20px 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.signInUpButtonsContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.registrationButton {
  --border-color: #fbfbfb66;
}
