.logButton {
  padding: 14px 39px;

  border: 1px solid #fbfbfb66;
  border-radius: 30px;

  background-color: transparent;

  transition: background-color var(--transition-options), color var(--transition-options),
    border-color var(--transition-options);

  &:hover,
  &:focus {
    background-color: var(--text-color-light);
    color: var(--main-color);
  }
}

.modal {
  max-width: 566px;
}

@media only screen and (max-width: 1439px) {
  .modal {
    --padding: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .modal {
    max-width: 80vw;
  }
}
