@import url('./assets/fonts/fonts.css');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;

  border: none;
  cursor: pointer;

  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-family: 'Helvetica Neue', sans-serif;

  background-color: var(--bodyBackground-color);
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;

  flex: 1;
}

main {
  flex: 1;
}

:root {
  --transition-options: 250ms ease-in-out;
  --transition-options-fast: 100ms ease-in-out;

  --text-color: #11101c;
  --text-color-light: #fbfbfb;
  --bodyBackground-color: #f3f3f3;
  --main-background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.theme-transition-effect {
  transition: background-color var(--transition-options), color var(--transition-options),
    stroke var(--transition-options), fill var(--transition-options);
}
