.userProfileButton {
  background-color: transparent;

  display: flex;
  align-items: center;
  column-gap: 14px;
}

.avatarContainer {
  border-radius: 10px;
  overflow: hidden;

  width: 40px;
  height: 40px;

  background-color: #fbfbfb;

  display: flex;
  align-items: center;
  justify-content: center;

  stroke: var(--main-color);
  fill: var(--main-color);
}
