.dropDown {
  position: relative;
}

.userProfileButton {
  background-color: transparent;

  display: flex;
  align-items: center;
  column-gap: 14px;

  outline: none;

  position: relative;
  &::before {
    position: absolute;
    top: -5px;
    left: -10px;
    content: '';

    width: calc(100% + 20px);
    height: calc(100% + 10px);

    border-radius: 30px;
    border: 1px solid transparent;

    transition: border-color var(--transition-options);
  }

  &:hover,
  &:focus {
    &::before {
      border-color: var(--text-color-light);
    }
  }
}

.avatarContainer {
  border-radius: 10px;
  overflow: hidden;

  width: 40px;
  height: 40px;

  background-color: #fbfbfb;

  display: flex;
  align-items: center;
  justify-content: center;

  stroke: var(--main-color);
  fill: var(--main-color);
}

.optionsList {
  background-color: var(--main-background-color);

  border-radius: 14px;
  border: none;

  padding-top: 8px;
  padding-bottom: 12px;

  display: flex;
  flex-direction: column;

  width: 120px;

  font-size: inherit;
  line-height: inherit;
  text-align: inherit;

  color: #11101c4d;
  box-shadow: 0px 20px 69px 0px #00000012;

  opacity: 0;

  transition: opacity var(--transition-options);

  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateY(calc(100% + 8px)) translateX(-50%);

  z-index: 1000;

  pointer-events: none;
}

.optionsListOpened {
  opacity: 1;
  pointer-events: all;
}

.optionButton {
  background-color: transparent;
  width: 100%;

  border-radius: 14px;

  padding: 6px 18px;

  transition: background-color var(--transition-options-fast);

  font-size: inherit;
  line-height: inherit;
  text-align: inherit;

  &:hover,
  &:focus {
    background-color: #cccccc;
  }
}

.selectedItem {
  color: var(--text-color);
}
